body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background:url("img/background.png");
  background-position: center;
}

.logo, .rounded{
  margin: auto;
  display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
.logo{
  margin-top: 100px;
}
.rounded{
  margin-top: 20px;
}
h1, h2, h3, p{
  font-weight: 100;
  color:#FFF;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
h2{
  margin-bottom: 40px;
}
h3{
  margin-top:0px;
  font-weight: 500;
}
p{
  font-weight: normal;
}
a{
  font-weight: bold;
  color:#FFF;
}
.bar-footer {
  position: fixed;
  bottom: 0px;
}
.rounded{
  margin: auto;
  margin-top: 75px;
  display: block;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url("img/moi.png") no-repeat;
}
.card {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
i{
  font-size: 20px;
}
.item-text-wrap a{
  margin-top:20px;
}
.pane{
  flex:1;
  flex-direction: column;
  .block{
    margin-left: auto;
    margin-right: auto;
    flex:1;
    flex-direction: column;
    padding:20px;
    max-width: 720px;
    &.identity{
      text-align: center;
    }
  }
}